body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .container {
  display: grid;
  margin: auto;
  width: 95%;
  grid-template-columns: 175px 1fr 175px;
  grid-template-rows: 250px 1fr 200px;
  grid-gap: 2px;
  height: 100vh;
}

.box {
background-color: rgb(223, 219, 219);
}


#item-7, #item-9{
  border:5px maroon solid;
}

div {
  text-align:center;
  color:maroon;
  padding: 2px;
  
}

img {
  width:100px;
}

.carddeck {
  width: 100%;
  height: auto;
}

#player1card

.playedcards{

}

button {
  height: 75px;
  width: 200px;
  background-color: black;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 16px;  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

button:hover {
  background-color: maroon;
}

.createdbytag {
   font-size: 10px;
   position: absolute;
   bottom: 0em;
}
